body{
    background-color: #A9B8F;
    color: #060F33;
    font-family: arial, sans-serif
}
header{
    background-color: #9DB0FC;
    color: #0D1C54;
    text-align: center;
    padding: 30px;
}
h1 {
    font-size: 36px;
}
h2 {
    color:#747c9b
}
p {
    font-size: 18px;
    line-height: 1.6;
}
