body{
    background-color: #788ada;
    color: #060F33;
    font-family: arial, sans-serif
}
header{
    background-color: #5e678a;
    color: #0D1C54;
    text-align: center;
    padding: 30px;
}
h1 {
    font-size: 36px;
}
h2 {
    color:#747c9b;
}
p {
    font-size: 18px;
    line-height: 1.6;
}
main{
    width: 80%;
    margin: auto;
}
section{
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 12px;
}
img{
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
    border-radius: 12px;
}
figcaption{
    text-align: center;
    font-family: 14px;
    color: #000;
    margin-top: 8px;
}
